@model IEnumerable<CNTSIH.Models.mCatalogo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,  new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catalogo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Catalogo1.FirstOrDefault().catalogo_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.catalogo)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Catalogo1.FirstOrDefault().catalogo_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.estado)
    </td>*@
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.mcatalogo_id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Details", "Details", new { id = item.mcatalogo_id }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.mcatalogo_id }, new { @class = "btn btn-danger", onclick = "return confirm('Seguro de desabilitar registro')" })
    </td>
</tr>
}

</table>
